
<div class="w-screen h-screen flex flex-row  ">

<div class=" p-5 flex flex-row justify-center basis-1/3 bg-gradient-to-r from-cyan-500 to-blue-500">

<div class="border-2 rounded-xl p-4 h-1/2 w-11/12  dark:bg-gray-800 dark:border-gray-700 mt-48 bg-white">
<%=form_with url: regis_path, method: :post  do |form|  %>

<p class="text-3xl m-2 mb-4 dark:text-white font-bold   ">Enter you details here</p>

    <div class="field m-4 ">
    <p><label for="user_name" class="block  mb-2 text-sm font-medium text-gray-900 dark:text-white" > Name</label></p>
   <input type="text" name="user[name]" id="user_name " class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="John doe">

    </div>

    <div class="field  m-4 ">
    <p><label for="user_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Email</label></p>
    <input type="email" name="user[email]" id="user_email" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Johndoe@gmail.com">
    
    
    </div>

    <div class="field  m-4 ">
   <p> <label for="user_pass" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"  >Password</label></p>
    <input type="password" name="user[pass]" id="user_pass" class="m-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white">
   
    </div>

    <div class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <%= form.submit %>
      </div>

<%end%>
</div>
</div>

<div class="w-full  bg-[url(https://images.unsplash.com/photo-1616088410192-d1b123712994?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWluaW1hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80)] bg-cover  ">


</div>


</div>
